.icon-row {
  width: 100%;
}

.icon-row__icon {
  text-align: center;
  margin: 30px 0px;
  height: 100px;
  width: 100px;
}

.icon-row__icon i {
  display: block;
  font-size: 35px;
  margin-bottom: 15px;
}
